body{
    background-color: #0a0c1b;
    color: #fff;
    min-height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: auto;
}
.card{
    margin-bottom: 10px;
    background-color: #1c1938;
    display: flex;
    width: min-content;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0 0 0 100px;
    border-radius: 10px;
}
/* .img{
    position: relative;
    height: 450px;
    width: 800px;
    background-image: url('./images/image-header-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(171,105,217,255);
} */
.img{
    background: rgba(117,62,151,255);
    content: url('./images/image-header-desktop.jpg');
    opacity: 50%;
    /* background-color: rgba(117,62,151,255); */
    position: relative;
    display: block;
    border-radius: 0 10px 10px 0;
}
.top-img{
    position:relative;
    display:inline-block;
    border-radius: 0 10px 10px 0;
  }
  
  
  /* 
  #002f4b,#dc4225 
  Convert HEX to RGBA - http://hex2rgba.devoth.com/
  */
.top-img:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: #9506ee52;
    border-radius: 0 10px 10px 0;
  }
.vio{
    color: #924dbd
}
.content>h1{
    font-size: 2.25rem;
}
p{
    font-size: 0.9rem;
}
.stats{
    display: flex;
    gap: 50px;
    text-transform:uppercase;
}
.stat>h1{
    font-size: 1.5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: left;
}
@media (max-width: 1000px)
{
    *{
        text-align: center;
    }
    .card{
        flex-direction: column;
        padding: 0 0 50px 0;
        gap: 25px;
    }
    .img{
        content: url('./images/image-header-mobile.jpg');
    }
    .content{
        width: 80%;
    }
    .stats{
        flex-direction: column;
        gap: 20px;
    }
}